	
		*{
			margin:0;
			padding:0;
		}
		
		
		html,body {
		      margin:0px;
		      padding:0px;
		      width: 100%;
		      height: 100%;
		      border:none;
		}
		
		img {
			outline: none;
			border: none;
		}
		
		body {
		  font-family: 'Lucida Grande',  Arial, sans-serif;
		  font-size: 12px;
		  line-height: 20px;
		  background:  url('/static/images/splash/bg_big_green.png') repeat-x; 
		  color: #222;
		}
		
		a {
			color: #222;
			text-decoration: none;
			outline: 0;
			border: none;
		}
		
		a:hover {
			color: #222;
			text-decoration: underline;
		}		
		
		#main-wrapper {
			
			position: relative;
			width: 940px;
			text-align: left; 
			margin: 0 auto;
			
		}
		
		
		#main-content{
			
			min-height: 400px;
			padding-top: 40px;
			width: 665px;
			position: relative;
			display: block;
			clear: both;
		}
		
		#topbar {
			position: relative;
			height: 210px;
			width: 100%;
			padding-bottom: 4px;
			
		}
		
		#logo {
		    position: absolute;
		    top: 90px;
			 left: 0px;
			 width: 300px;
			 height: 60px;
		}
		
		#big-quote {
		    position: absolute;
		    top: 22px;
			 left: 385px;
		}
		
		#exposed-frame {
		    position: absolute;
		    top: 250px;
			 left: -26px;
		}
		
		
		#right-column {
			
			margin-top: 70px;
			float: right;
			width: 220px;
			
		}
		
		
		
		#customize {
			background: url('/static/images/splash/customize_l.png') no-repeat;
			height: 60px;
			width: 690px;
		}
		
		
		.blue-link {
			color: #3785e4;
			text-decoration: none;
			font-weight: bold;
		}
		
		.blue-link:hover {
			color: #3785e4;
			text-decoration: underline;
		}
		
		
		.blue-link-small {
			font-size: 11px;
			color: #3785e4;
			text-decoration: none;
		}
		
		.blue-link-small:hover {
			font-size: 11px;
			color: #0755e4;
			text-decoration: none;
		}
		
		
		#footer { 
			text-align: center;
			
		}
		
		
		.icon-offset {
			
			position:relative;
			top:3px;
			padding: 0px 2px 0px 1px;
			
		}
		
		
		/*  Public feed */
		
		
		#public-feed-holder {
			
/*			position: relative;
			left: -180px;*/
/*			display: table;*/
/*			border: 1px solid #ffcccc;*/
			margin-top: 35px;
			list-style-type: none;
		}
		
		.public-feed-item {
			padding-top:5px;
			padding-left: 5px;
			clear: both;
      
/*      height: auto;*/
      margin-bottom: 25px;
/*      border-left: 2px solid #fff;*/
/*      border-right: 2px solid #fff;*/
		}
		
		.public-feed-item:hover {
/*      background: #fbfbfb;*/
/*      color: #ff0044;*/
/*      border-left: 2px solid #f4f4f4;*/
/*      border-right: 2px solid #f4f4f4;*/
		}
		
		.feed-item-header-a {
			font-size: 18px;
			font-weight: bold;
		}
		
		.feed-item-header-a:hover {
			text-decoration: none;
			color: #3785e4;
		}
		
		.feed-sub-title
		{
			padding-left: 2px; 
			margin-top: 3px; 
			padding-top: 3px; 
			padding-bottom: 3px; 
			height: 15px; 
			line-height: 14px; 
			border-top: 1px solid #eee; 
			border-bottom: 1px solid #eee;
		}
		
		.feed-sub-title-detail
		{
			float: left; color: #555; font-size: 11px;
		}
		
		
		.feed-item-detail
		{
			margin-top: 2px; padding-left: 2px; color:#999; 
		}
		
		.feed-item-thumb-img
		{
			width: 80px; min-height: 40px; padding: 2px;  border: 1px solid #ddd;
		}
		
		.feed-item-thumb
		{
			padding-top: 3px; padding-right: 8px;  float: left;
		}		
		
		.feed-item-thum-div
		{
			text-align:right; overflow: hidden;
		}			
		
		.feed-item-date
		{
			position: relative; top: -1px; font-size:14px; color: #ccc; letter-spacing: -.1em; font-weight: bold;
		}
		
		.feed-comment
		{
			border-left: 5px solid #fff; margin-left: 3px; margin-top: 10px; padding-left: 4px;
		}
		
		.feed-item-source
		{
			padding-top: 3px; vertical-align: top; horizontal-align: left; width: 25px;  float: left;
		}
		
		.feed-item-main
		{
			 vertical-align: top; 
       width: 537px;
			 float: left; 
			 margin-bottom: 25px;
		}
		
		.feed-item-header
		{
			overflow: hidden; width: 480px; height: 22px; float: left; 
		}
		
		
		#feed-play-button {
			margin-left: 5px;
			margin-top: 3px;
			height: 18px;
			width: 18px;
			background: url('/static/images/splash/play_feed.png');
		}
		
		#feed-play-button:hover {
			background: url('/static/images/splash/play_feed_over.png');
		}
		
		/*.feed-add-button-added {
		      margin-top: 3px;
		      height: 18px;
		      width: 30px;
		      text-align:right;
		      color: #ccc;
		    }*/
		
		.feed-add-button {
			margin-top: 3px;
			height: 18px;
			width: 18px;
			background-image: url('/static/images/splash/add_playlist.png');
			background-repeat: none;
		}
		
		.feed-add-button:hover {
			background: url('/static/images/splash/add_playlist_over.png');
		}
		
		.feed-add-button-busy {
		  margin-top: 3px;
		  height: 18px;
		  width: 18px;
		  background: url('/static/images/splash/add_playlist_busy.gif');
		}
		
		.feed-add-button-added {
		  margin-top: 3px;
		  height: 18px;
		  width: 18px;
		  background: url('/static/images/splash/add_playlist_added.png');
		}
		
		.right-column-box-yellow {
			
			padding: 0px;
			border: 1px dotted #d6d2ad;
			background: #fffed1;
		}
		
		.right-column-box-light {
			
			padding:  3px 3px 10px 0px;
			border: 1px dotted #d5d5d5;
			background: #f2f2f4;
			
			
		}
		
		.column-box-header
		{
			border-bottom: 1px dotted #d6d2ad; padding: 8px 0px 8px 0px; 
			margin: 0px 15px 0px 15px; font-weight: bold; font-size: 13px;
		}
		
		.column-box-item
		{
			color: #222; padding: 9px; font-size: 13px
		}
		

#playlist-playnow
{
  position:absolute; 
  top: -10px; left: 0px;
  width: 120px; 
  height: 35px;  
  background:transparent url(/static/images/v2/box.png) no-repeat scroll 0pt 100%; 
  
}

#playlist-playnow a
{
  /*width: 100%; height: 100%;*/
  padding: 8px 5px 5px 10px;
  text-decoration:none; 
  color: #fff;
  font-size: 14px;
  display: block;
  float:left;

}

#playlist-playnow a:hover
{
  background: none;
  color: #ccc;
	background: #4169E1;
}	
	
.top-left, .top-right, .bottom-left, .bottom-right { 
	background-image: url('/static/images/v3/rounded_grey.png'); 
	height: 12px;    
	font-size: 2px;  
	}                
.top-left, .bottom-left {           
	margin-right: 12px; 
	}                   
.top-right, .bottom-right {         
	margin-left: 12px; 
	margin-top: -12px; 
	}                               
.top-right {                        
	background-position: 100% 0;    
	}                               
.bottom-left  {                     
	background-position: 0 -13px;   
	}                               
.bottom-right {                     
	background-position: 100% -13px;
	}
.inside {   
	position: relative;                        
	border-left: 9px solid #f4f4f4; 
	border-right: 9px solid #f4f4f4;
	background: #f4f4f4;            
	color: #000;                          
	}                              
.notopgap    { margin-top: 0; }    
.nobottomgap { margin-bottom: 0; }
	
	
		